<px-card header-text="Data tables">
<h2> Simple Data Table</h2>
 <px-data-table table-data="{{user}}"></px-data-table>
 

 <h2> Filterable  </h2>
  <px-data-table filterable selectable table-data="{{dpData}}"></px-data-table>
  
<h2> Selectable  </h2>
<px-data-table selectable table-data="{{user}}"></px-data-table>

<h2> Striped   </h2>
<px-data-table striped  table-data="{{dpData}}"></px-data-table>

<h2> TableColumns  </h2>
<px-data-table table-columns table-data="{{user}}"></px-data-table>


<h2> TableRows  </h2>
<px-data-table table-rows table-data="{{dpData}}"></px-data-table>

<h2> ShowColumnChooser  </h2>
<px-data-table show-column-chooser table-data="{{user}}"></px-data-table>

<h2> EnableColumnReorder </h2>
<px-data-table enable-column-reorder table-data="{{dpData}}"></px-data-table>
<h2> Enable-Column-Resize  </h2>
<px-data-table enable-column-resize  table-data="{{user}}"></px-data-table>



</px-card>
